<h1>投稿ルール</h1>
<p>「NUUMA」は、「好きなものについて語る」を主題とし、たくさんの人が楽しく交流する場として活用してもらうことを目的としています。<br>
記事投稿・コメント投稿やプロフィール内の記述による嫌がらせ、攻撃的な行為・発言及びその他公序良俗に反する行為は禁止しております。<br>
「NUUMA」では、下記の投稿ルールを設けています。投稿の際は必ずご確認ください。<br></p>


<h3>1.ご自身が書いた文章、ご自身が撮影した写真を投稿してください</h3>
<p>他人の著作物からの無断引用、肖像権を侵害するような投稿はおやめください。<br>
自身で撮影した画像に関しても、著作権や肖像権に配慮してご投稿ください。</p>

<h3>2.誹謗中傷禁止</h3>
<p>特定の人物や会社・団体を侮辱、誹謗中傷するような投稿はおやめください。<br>
第三者のプライバシーを侵害するような投稿はおやめください。</p>

<h3>他のユーザーが不快になる表現や内容は禁止</h3>
<p>卑猥な表現、暴力的・残虐な表現、差別的な表現など、他の方が不快になるような投稿はおやめください。</p>

<h3>プライバシーはご自身でお守りください</h3>
<p>個人を特定できる情報や、個人の行動が把握されるような情報の投稿はおやめください。</p>