<div class="guideline">
  
  <div class="row">
    <div class="col"></div>
      <div class="col-10">
      
      
        <h1>投稿ルール</h1>
          <p>「NUUMA」は、「好きなものについて語る」を主題とし、「たくさんの人が楽しく交流する場」として活用してもらうことを目的としています。
              記事・コメント・プロフィール内の記述等による攻撃的な行為・発言及びその他公序良俗に反する行為は禁止しております。<br>
              下記の投稿ルール及び利用規約をご確認の上での投稿にご協力ください。<br>
          </p>


          <h3>1.ご自身が書いた文章、ご自身が撮影した写真を投稿してください</h3>
            <p>他人の著作物からの無断引用、肖像権を侵害するような投稿はおやめください。<br>
              ご自身で撮影した画像に関しても、著作権や肖像権に十分配慮してご投稿ください。</p>

          <h3>2.誹謗中傷はお控えください</h3>
            <p>特定の人物や会社・団体を侮辱、誹謗中傷するような投稿はおやめください。<br>
              第三者のプライバシーを侵害するような投稿はおやめください。</p>

          <h3>3.他のユーザーが不快になる表現や内容はお控えください</h3>
            <p>卑猥な表現、暴力的・残虐な表現、差別的な表現など、他の方が不快になるような投稿はおやめください。</p>

          <h3>4.プライバシーはご自身でお守りください</h3>
            <p>個人を特定できる情報や、個人の行動が把握されるような情報の投稿はおやめください。</p>

        </div>
      <div class="col"></div>
    </div>

</div>