<div class="top">
<div class="container py-5">
<div id="box">
  <div id="images">
    <div class="nuuman"></div>
    <div class="image0"></div>
    <div class="image1"></div>
    <div class="image2"></div>
    <div class="image3"></div>
    <div class="image4"></div>
    <div class="image5"></div>
    <div class="image6"></div>
  </div>
</div>
</div>
<div class="container">
  <div class="row my-5">
    <div class="col-md-4">
      <%= image_tag 'whats.png', size: "280x280" %>
    </div>
    <div class="col-md-8">
      <div class="main-text" style="background-color: #EAFFD0; border-radius: 20px;">
      <h2 style="padding: 20px 20px 0;">あなたの「好き！」を語ろう</h2>
      <p style="padding: 20px 20px;">NUUME（ぬーま)は、写真共有・記事投稿を通して自分の好きな「もの」「こと」について<br>心ゆくまで語る
      コミュニティサイトです。<br>
      共通の趣味の人をフォローしたり、今まで知らなかったディープな世界を覗いたり。<br>
      みんなの「好き」が溢れるNUUMAの世界を一緒に作ってみませんか？</p>
      </div>
      <%= link_to "会員登録して投稿＆みんなの投稿を見る>>>", new_user_registration_path, class: "btn btn-lg", style: "background-color: #F38181; color: white;" %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row py-5">
  <h3>新着投稿</h3>
    <div class="card-deck">
      <%= render 'homes/card', posts: @posts %>
    </div>
  </div>
</div>
</div>