<div class="main-visual">
</div>

</div>
<div class="container">
  <div class="row">
    <div class="col-md-4  img-hidden">
      <!--<img src="image/c.jpg" alt="img" class="img-fulied">-->
    </div>
    <div class="col-md-8">
      <h1>Sample Text</h1>
      <p>Sample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample Text</p>
    </div>
  </div>
</div>


<div class="container container-m">
  <h3>新着投稿</h3>
    <div class="card-deck">
      <%= render 'homes/card', posts: @posts %>
    </div>
</div>