// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.guideline {
  background-color: #f0f8ff;
  padding: 40px;
  margin: 20px auto;
}
.guideline h3 {
  margin: 30px 0 20px 0;
}

.guideline p {
  margin: 20px 0;
}

.guideline li {
  margin-top: 10px;
}

// .main-visual {
//   width: 100%; /* 横幅いっぱい */
//   height: 800px; /* 高さ500px */
//   margin: 20px auto;
//   background-image: image-url("numan.png");
//   background-size: cover; /* 縦横比を維持したまま背景領域を埋め尽くす */
//   background-position: center; /* 背景画像を中央に配置 */
// }

#box{
  width: 640px;
  height: 479px;
}

.nuuman {
  background-image: url(nuuman.png);
}
.image0 {
  background-image: url(image0.jpg);
}
.image1 {
  background-image: url(image1.jpg);
}
.image2 {
  background-image: url(image2.jpg);
}
.image3 {
  background-image: url(image3.jpg);
}
.image4 {
  background-image: url(image4.jpg);
}
.image5 {
  background-image: url(image5.jpg);
}
.image6 {
  background-image: url(image6.jpg);
}

.profile_image {
  border-radius: 50%
}

.card-deck {
  margin: 20px auto;
}
