// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top {
 background-color: #95E1D3;
}
.guideline {
  border: 1px solid #c0c0c0;
  padding: 40px;
  margin: 20px auto;
}
.guideline h3 {
  margin: 30px 0 20px 0;
}

.guideline p {
  margin: 20px 0;
}

.guideline li {
  margin-top: 10px;
}

#box{
  height: 500px;
  background-size: contain;
	background-position: center;
}

.nuuman {
  background-image: image-url("nuuman.png");
}
.image0 {
  background-image: image-url("image0.jpg");
}
.image1 {
  background-image: image-url("image1.jpg");
}
.image2 {
  background-image: image-url("image2.jpg");
}
.image3 {
  background-image: image-url("image3.jpg");
}
.image4 {
  background-image: image-url("image4.jpg");
}
.image5 {
  background-image: image-url("image5.jpg");
}
.image6 {
  background-image: image-url("image6.jpg");
}

.whats {
  height: 280px;
  width: 280px;
  background-size: 280px;
  background-image: image-url("whats.png");
}

.profile_image {
  border-radius: 50%
}

.card-deck {
  margin: 20px auto 0;
}

p {
  line-height: 1.5;
}