// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.guideline {
  background-color: #f0f8ff;
  padding: 40px;
  margin: 20px auto;
}
.guideline h3 {
  margin: 30px 0 20px 0;
}

.guideline p {
  margin: 20px 0;
}

.guideline li {
  margin-top: 10px;
}

.main-visual {
  width: 100%; /* 横幅いっぱい */
  height: 500px; /* 高さ500px */
  margin: 20px auto;
  background-image: url(numan.jpg);
  background-size: cover; /* 縦横比を維持したまま背景領域を埋め尽くす */
  background-position: center; /* 背景画像を中央に配置 */
}

.about {
  background-image: url(question.png);
  background-size: cover;
  background-position: center;
}

.profile_image {
  border-radius: 50%
}

.card-deck {
  margin: 20px auto;
}