// Place all the styles related to the user/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.link{
  text-decoration: none;
  color: black ;
}

/*ページネーション自体のデザイン*/
.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background-color: #FCE38A;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;    /*角を丸くする*/
}

.category-box {
  background-color: #FCE38A;
  display: inline-block;
  border: 1px solid #FFCC1D;
  margin: 5px;
  padding: 3px;
  color: black;
  .category-name {
    text-decoration: none;
    color: #000;
  }
}
