// Place all the styles related to the user/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-icon {
  .profile_image {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
}

.profile_image {
   object-fit: cover;
}