    <!-- フッター -->
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="mx-auto">
            <p class="pt-3" style="font-size:15px;">
              <%= link_to "投稿ルール", post_rule_path, class: "text-dark" %>
              |
              <%= link_to "利用規約", guideline_path, class: "text-dark" %>
              |
              <%= link_to "プライバシーポリシー", privacy_path, class: "text-dark" %>
            </p>
            <p style="font-size:12px;">Copyright ©NUUMA 2021 All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </footer>